/* add some font plis */
@import "./colors.css";

/* default styles  */
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-fg);
}

body {
  background-color: var(--main-beige);
}

#container {
  width: 70%;
  margin: 24px auto;
  background-color: var(--main-bg);
  border-radius: 24px;
}

a {
  text-decoration: none;
  color: var(--main-fg);
}

ul {
  list-style: none;
}
